body{
    background-color: #011526;
}
form {
    background-color: #6D90A6;
    width: 50%;
    /* border: solid; */
    display: grid;
    margin: 5% auto;
}
input {
    margin: 10%;
    height: 4vw;
}
button {
    background-color: #D0E5F2;
    margin: 0 12% 5%;
    height: 4vw;
    border-radius: -13%;
}